$primary-dark-cyan: hsl(180, 29%, 50%);
$neutral-light-bg: hsl(180, 52%, 96%);
$neutral-light-tablets-bg: hsl(180, 31%, 95%);
$neutral-darkGrayish: hsl(180, 8%, 52%);
$neutral-very-darkGrayish: hsl(180, 14%, 20%);

$b-radius-sm: 5px;
$b-radius-lg: 10px;

$shadow: 0 10px 15px 0 hsl(180, 29%, 50%, 0.35);
